:root {
  --primary: #000666;
  --secondary-container: #d97dff;
  --on-primary: #ffffff;
  --on-secondary: #ffffff;
  --background: #f8f9fa;
  --surface: #f8f9fa;
  --text-primary: #191c1d;
  --text-secondary: #8c33b3;
  --gradient-circular: radial-gradient(circle at center, #1a237e 0%, #000666 100%);
}

body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--background);
  color: var(--text-primary);
}